{% extends 'base.html' %}
{% load likes %}
{% block title %}Пользователь{% endblock %}

{% block menu %}
    {% if request.user == user_obj %}
        <a class="text-white text-center px-3" href="{% url 'accounts:change' user_obj.pk %}">Редактирование личных данных</a>
        <a class="text-white text-center px-3" href="{% url "accounts:password_change" user_obj.pk %}">Смена пароля</a>
    {% endif %}
{% endblock %}

{% block contant %}
    <h1 class="ml-5 pt-5">Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% endif %}
    <p>Login: {{ user.username }}</p>
    <p>Имя: {{ user.first_name }}</p>
    <p>Фамилия: {{ user.last_name }}</p>
    <p>Почта: {{ user_obj.email }}</p>

    <h2 class="text-center clear">Понравившиеся фотографии:</h2>
{#    {% include 'partial/partial_list.html' with likes=likes %}#}
    {% for photo in gallery %}
        <div class="row">
            <div class="col col-lg-12 pl-5">
                <div class="box">
                    <img src="{{ photo.photo.photo.url }}" width="300" height="200" alt="Foto">
                    <b>Автор : {{ photo.photo.author }}.  | Дата: {{ photo.photo.created_at | date:"Y-m-d H:m:s" }}</b>
                </div>
                <h3><a href="{% url 'webapp:one_photo_view' photo.pk %}"><b>Подпись: {{ photo.photo.signature }} </b></a> </h3>
            </div>
        </div>
    {% endfor %}

{% endblock %}