{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}View photo{% endblock %}
{% block menu %}
{#    {% if user.is_authenticated %}#}
{#        <a class="text-white text-center px-3" href="{% url 'review_create' product.pk %}">Добавить отзыв</a>#}
{#    {% endif %}#}
{% endblock %}

{% block contant %}

<div class="row">
    <div class="col col-lg-12 text-center">
        <h1 class="pt-1 mt-1"><b>Photo: №{{ gallery.pk }}.
            {% if perms.webapp.change_gallery  or gallery.author == request.user %}
            <a href="{% url 'webapp:photo_update' gallery.pk %}" ><button type="button"  class="btn btn-success">Update</button></a>
            {% endif %}
            {% if perms.webapp.delete_gallery or gallery.author == request.user  %}
            <a href="{% url 'webapp:photo_delete' gallery.pk %}" ><button type="button"  class="btn btn-danger">Delete. </button></a>
            {% endif %}
        </b></h1>
        <h3>  Описание: <b class="text-primary"> {{ gallery.signature }}</b></h3>
        <div class="box">
            <img src="{{gallery.photo.url }}" width="800" height="500" alt="Foto"><br>
           <b class="m-3">Автор : {{ gallery.author }} | Дата {{ gallery.created_at }}</b>
        </div>

        <div class="col col-lg-12">
            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}
        </div>
    </div>
        <hr>
{% endblock %}

