{% extends 'base.html' %}

{% block title %}Gallery: {% endblock %}

{% block contant %}
<hr>
<div class="row text-center">
    <div class="col col-lg-12 ml-5 mt-3">
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
</div>
<hr>
    <div class="row">
        <div class="col col-lg-6 ml-5">
            <h1 class="pt-4"><b>Gallery: </b></h1>
        </div>
    </div>
    <hr>
{% for photo in gallery %}
    <div class="row">
        <div class="col col-lg-12 pl-5">
            <div class="box">
                <img src="{{photo.photo.url }}" width="300" height="200" alt="Foto">
                <b>Автор : {{ photo.author }}.  | Дата: {{ photo.created_at | date }}</b>
            </div>
            <h3><a href="{% url 'webapp:one_photo_view' photo.pk %}"><b>Подпись: {{ photo.signature }} </b></a> </h3>
        </div>
    </div>
{% endfor %}

    <hr>

{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}
<hr>
{% endblock %}
